.zoom-button {
    transition: transform 0.2s ease;
  }
  
  /* Zoom animation */
  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  
  /* Add the animation on click */
  .zoom-button.clicked {
    animation: zoom 0.4s;
  }