/* Animation for shrinking and reappearing boxes */
.box-shrink {
    animation: shrink-reappear 1s forwards;
  }

  .box-hover:hover {/* Example hover border color */
    background:red; /* Example hover background color */
  }
  
  /* Keyframes for box animation */
  @keyframes shrink-reappear {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes scaleUp {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.scale-animation {
    animation: scaleUp 0.2s ease-in-out;
    transform-origin: center;
}

.scale-anim {
    animation: scaleIn 0.3s ease-in-out;
    transform-origin: center;
}


  @keyframes scaleIn {
    0% {
      transform: scale(0); /* Start small */
      opacity: 0; /* Invisible */
    }
    70% {
        transform: scale(1.5); /* Full size */
        opacity: 1; /* Fully visible */
      }
    100% {
      transform: scale(1); /* Full size */
      opacity: 1; /* Fully visible */
    }
  }
  @keyframes background-scale {
    0% {
        background-size: 0% 0%;
    }
    100% {
        background-size: 100% 100%;
    }
}

.box-scale-background {
    background: #31354c; /* Target color */
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0% 0%; /* Start with no background */
    animation: background-scale 0.5s ease-out forwards; /* Adjust duration as needed */
}
  

  /* Shrinking animation for grid */
/* .box-shrink {
    animation: shrink 2s ease-in-out;
}

@keyframes shrink {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
} */

/* Click animation for individual box */
.box-click {
    animation: bounce-scale 0.4s ease;
}

@keyframes bounce-scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2); /* Scale up */
    }
    70% {
        transform: scale(0.95); /* Slight overshoot */
    }
    100% {
        transform: scale(1); /* Return to original size */
    }
}


.bg-scale {
    animation: scaleBg 0.3s ease forwards;
}

@keyframes scaleBg {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    80% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.bg-scale-reverse {
    animation: scaleBgReverse 0.5s ease forwards;
}

@keyframes scaleBgReverse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    80% {
        transform: scale(1.5);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}


